<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /analytics
  RewriteRule ^analytics/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /analytics/index.html [L]
</IfModule>